[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sklearn = "*"
flake8 = "*"
matplotlib = "*"
pytest-cov = "*"

[packages]
numpy = "*"

[requires]
python_version = "3.7"
